<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1068936921732-chum8b0odof4o0dk7tm2qsgcbic4kp61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068936921732-chum8b0odof4o0dk7tm2qsgcbic4kp61</string>
	<key>API_KEY</key>
	<string>AIzaSyCJtxlmPFcRsIaG_n2tFTZuH3Zt0i-8iBM</string>
	<key>GCM_SENDER_ID</key>
	<string>1068936921732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiveios.ChattoSauce</string>
	<key>PROJECT_ID</key>
	<string>convox-c659d</string>
	<key>STORAGE_BUCKET</key>
	<string>convox-c659d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068936921732:ios:edf27598a2349e68</string>
	<key>DATABASE_URL</key>
	<string>https://convox-c659d.firebaseio.com</string>
</dict>
</plist>